<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APP2020.My.MySettings.MasterAPVConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MasterAPV.MDB;Persist Security Info=False"
            providerName="System.Data.OleDb" />
        <add name="APP2020.My.MySettings.Excel" connectionString="Dsn=Valuacion;dbq=C:\USERS\JROZAP\DOCUMENTS\STEEL DESIGN CO\ANALISIS PRECIOS UNITARIOS\DB APVWIN Ver 10.1.001\Excel\Valuacion.xlsx;defaultdir=C:\USERS\JROZAP\DOCUMENTS\STEEL DESIGN CO\ANALISIS PRECIOS UNITARIOS\DB APVWIN Ver 10.1.001\Excel;driverid=1046;fil=excel 12.0;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
        <add name="APP2020.My.MySettings.ConnectionString" connectionString="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};dbq=C:\USERS\JROZAP\DOCUMENTS\STEEL DESIGN CO\ANALISIS PRECIOS UNITARIOS\DB APVWIN Ver 10.1.001\Excel\Valuacion.xlsx;defaultdir=C:\USERS\JROZAP\DOCUMENTS\STEEL DESIGN CO\ANALISIS PRECIOS UNITARIOS\DB APVWIN Ver 10.1.001\Excel;driverid=1046;fil=excel 12.0;filedsn=C:\Users\jrozap\Documents\Valuacion.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;readonly=1;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
        <add name="APP2020.My.MySettings.MasterAPPConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MasterAPP.mdb;Persist Security Info=False"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
